/*basic rules for html*/
html {
    font-size: 14px;
    position: relative;
    min-height: 100%;
}
/*adaptation with screen size changing*/
@media (max-width: 500px) {
    .container {
        width: 40%;
    }
}
/*adaptation with screen size changing*/
@media only screen and (max-width: 767px) {
    .table {
        display: block;
        width: 100%;
    }
}

.h2{
    margin-left:40px;
}

body {
    color: white;
    margin-bottom: 60px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    background-image: url(../Themes/websitewhite.png);
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    background-color: #222222;
}

.linknolineandwhite > button > a {
    text-decoration: none;
    color: white;
}


button > a {
    color: aliceblue !important;
}

.hide-on-load {
    display: none;
}

.my-round-button {
    cursor: pointer;
    width: 130px;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}



.viewbody {
    animation: fadein 1.5;
    font-size: 19px;
}

.fadein {
    animation: fadein 1s;
}

.custom-font {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
   
}

.btn:hover {
    box-shadow: 0px 0px 10px #ddd;
}


.sticky-header {
    position: sticky;
    top: 0;
    z-index: 1;
}

    .sticky-header:hover {
        filter: brightness(115%) blur(0px);
        box-shadow: 0px 0px 0px #ddd;
    }

.btn-primary {
    animation: fadein 1.5s;
}

.btn-success {
    animation: fadein 2.5s;
}

.btn-danger {
    animation: fadein 3.5s;
}

.btn-info {
    animation: fadein 1s;
}

.btn-warning {
    animation: fadein 1s;
}
/*Position rules*/
.center-adjust {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Position rules*/
.left-adjust{
   position:relative;
   top:5px;
   left:242px;
}
/*Position rules*/
.rightalign {
    text-align: right;
    text-decoration: underline;
}

.typing-text {
    white-space: nowrap;
}

.col-md-4 text:hover {
    color: #fdec6e;
    text-shadow: 0px 0px 30px #fdec6e;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.button {
    text-align: center;
}

.table {
    animation: fadein 1.5s;
    table-layout: fixed;
    word-wrap: break-word;
    border-radius: 30px;
    font-weight: bold;
    width: 900px;
    margin-left: 200px;
    color: black;
}

/*drop shadow on select on form*/
.form-control:focus {
    box-shadow: 0 0 3px #48abe0 inset, 0 0 6px 2px #48abe0 inset, 0 0 9px 4px #48abe0 inset, 5px 5px 5px rgba(0,0,0,0.2);
}
/*drop shadow on hover on form*/
.form-control:hover {
    box-shadow: 0 0 3px #48abe0 inset, 0 0 6px 2px #48abe0 inset, 0 0 9px 4px #48abe0 inset, 5px 5px 5px rgba(0,0,0,0.2);
}
/*drop shadow on hover on nav-link*/
.nav-link:hover {
    text-shadow: 0 0 20px #3498db, 0 0 30px #3498db, 0 0 40px #FFFFFF;
}

/*dark mode*/
.dark-mode {
    background-color: white;
    color: white;
    background-image: url(../Themes/websitebg.png);
}
/*drop shadow on hover on navbar-brand*/
.navbar-brand:hover {
    text-shadow: 0 0 20px #3498db, 0 0 30px #3498db, 0 0 40px #FFFFFF;
}
/* dark mode button switch*/
.switch {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 60px;
    height: 34px;
    margin-left: 40px;
}
/* dark mode button switch*/
.switch input {
     display: none;
}
/* dark mode button switch*/
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: yellow;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}
/* dark mode button switch*/
.slider:before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    left: 4px;
    bottom: 4px;
    background-color: lightgrey;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
    }
/* dark mode button switch*/
input:checked + .slider {
    background-color: cornflowerblue;
}
/* dark mode button switch*/
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
/* dark mode button switch*/
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* dark mode button switch*/
.slider:after {
    content: "\1F31E";
    color: white;
    display: flex;
    position: relative;
    transform: translate(-5%,-50%);
    top: 50%;
    left: 50%;
    font-size: 26px;
    font-family: Verdana, sans-serif;
}
/* dark mode button switch*/
input:checked + .slider:after {
    content: '\1F312';
    transform: translate(-50%-50%);
    display: flex;
    position: relative;
    top: 50%;
    left: 0%;
}

/*fade in animation rules*/
@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.custom-font-black{
    color:black;
}

.privacyButton{
    color:blue;
}

/*light mode*/
.btn-edit {
    font-weight:bold;
    background-color: green;
    color: black;
}

.btn-edit:hover{
    background-color:green;
}

/*light mode*/
.btn-details {
    font-weight: bold;
    background-color: #0275d8;
    color: black;
}

    .btn-details:hover {
        background-color: #0275d8;
    }


/*light mode*/
.btn-delete {
    font-weight: bold;
    background-color: #d9534f;
    color: black;
}

    .btn-delete:hover {
        background-color: #d9534f;
    }


/*dark mode*/
.dark-mode .btn-edit {
    font-weight: bold;
    background-color: darkgreen;
    color: white;
}
/*dark mode*/
.dark-mode .btn-details {
    font-weight: bold;
    background-color: darkblue;
    color: white;
}
/*dark mode*/
.dark-mode .btn-delete {
    font-weight: bold;
    background-color: darkred;
    color: white;
}


.dark-mode .textLogin{
    color:white;
}


.dark-mode .containerFooter{
    color:white;
}

.dark-mode .typing-text{
    color:white;
}

.dark-mode .buttonLogin{
    color:white;
}

.dark-mode .buttonLogin:hover:before{
    background-color:white;
}

.dark-mode .custom-font {
    color: white;
}

.dark-mode .custom-font-black{
    color:black;
}


.dark-mode .table{
    font-weight:bold;
    color:white;
}

.dark-mode .privacyButton{
    color:lightblue;
}
/*
    button-nav. is sidenav button
*/
.button-nav {
    z-index: 1;
    position: fixed;
    top: 10px;
    left: 4px;
    width: 130px;
    height: 50px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease-in-out;
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 600;
    display: flex;
    align-items: center;
    background: #040f16;
    color: #f5f5f5;
}
/*side nav button*/
.button-nav:hover {
    box-shadow: 0 0 20px 0px #03436b;
}
/*side nav button*/
.button-nav .icon {
     position: absolute;
     height: 40px;
     width: 70px;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: all 0.5s;
 }
/*side nav button*/
.button-nav .text {
     transform: translateX(55px);
 }

/*side nav button*/
.button-nav:focus {
     outline: none;
}

/*side nav container*/
.container {
    max-width: 1280px;
    margin: 0 auto;
}
/*side nav*/
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222222;
    overflow-x: hidden;
    transition: 0.1s;
    padding-top: 60px;
    border-radius: 0 5px 5px 0;
}
/*side nav*/
.sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font-size: 16px;
    color: white;
    transition: 0.3s;
    text-align: left;
    margin-left: 18px;
}
/*side nav*/
.sidenav a:hover {
     color: white;
}

/*side nav*/
#main {
    transition: margin-left .5s;
    padding: 16px;
}

.divLogout {
    position: absolute;
    top: 0;
    right: 10px;
}
    .divLogout a {
        font-weight: bold;
    }


.textLogin {
    color: black;
}

.containerFooter{
    text-align:center;
    color:black;
}

.btnLogout {
    position:absolute;
    top:26px;
    right:26px;
    padding: 1.3em 3em;
    font-size: 9px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}

    .btnLogout:hover {
        background-color: darkred;
        box-shadow: 0px 10px 20px rgb(141, 118, 118);
        color: #fff;
        transform: translateY(-2px);
    }

    .btnLogout:active {
        transform: translateY(-1px);
    }

    .login-box .buttonLogin{
        color:white;
    }

    .login-box .buttonLogin:hover:before{
        background-color:white;
    }

.buttonLogin {
    align-items: center;
    background-color: transparent;
    color: black;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: none;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    padding: 1rem;
}
 /*log in button rules*/
.buttonLogin:before {
    background-color: #fff;
    content: "";
    display: inline-block;
    height: 1px;
    margin-right: 10px;
    transition: all .42s cubic-bezier(.25,.8,.25,1);
    width: 0;
}
 /*log in button rules*/
.buttonLogin:hover:before {
    background-color: black;
    width: 3rem;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    margin: 20px auto;
    transform: translate(-50%, -55%);
    background: rgba(0,0,0,.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

    .login-box p:first-child {
        margin: 0 0 30px;
        padding: 0;
        color: #fff;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
        letter-spacing: 1px;
    }

    .login-box .user-box {
        position: relative;
    }

        .login-box .user-box input {
            width: 100%;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            margin-bottom: 30px;
            border: none;
            border-bottom: 1px solid #fff;
            outline: none;
            background: transparent;
        }

        .login-box .user-box label {
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px 0;
            font-size: 16px;
            color: #fff;
            pointer-events: none;
            transition: .5s;
        }

        .login-box .user-box input:focus ~ label,
        .login-box .user-box input:not(:focus):not(:placeholder-shown) ~ label.on-top {
            top: -20px;
            left: 0;
            color: #fff;
            font-size: 12px;
        }


        .login-box form button {
            position: relative;
            display: inline-block;
            padding: 10px 20px;
            font-weight: bold;
            color: #fff;
            font-size: 16px;
            text-decoration: none;
            text-transform: uppercase;
            overflow: hidden;
            transition: .5s;
            margin-top: 40px;
            letter-spacing: 3px;
            background-color:transparent
        }

    .login-box button:hover {
        background: #fff;
        color: #272727;
        border-radius: 5px;
    }

    .login-box button span {
        position: absolute;
        display: block;
    }

        .login-box button span:nth-child(1) {
            top: 0;
            left: -100%;
            width: 100%;
            height: 2px;
            background: linear-gradient(90deg, transparent, #fff);
            animation: btn-anim1 1.5s linear infinite;
        }

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }

    50%,100% {
        left: 100%;
    }
}

.login-box button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: btn-anim2 1.5s linear infinite;
    animation-delay: .375s
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }

    50%,100% {
        top: 100%;
    }
}

.login-box button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: btn-anim3 1.5s linear infinite;
    animation-delay: .75s
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }

    50%,100% {
        right: 100%;
    }
}

.login-box button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 1.5s linear infinite;
    animation-delay: 1.125s
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }

    50%,100% {
        bottom: 100%;
    }
}

.login-box p:last-child {
    color: #aaa;
    font-size: 14px;
}

.login-box button.buttonLogin {
    color: #fff;
    text-decoration: none;
}

    .login-box button.buttonLogin:hover {
        background: transparent;
        color: #aaa;
        border-radius: 5px;
    }

/*PeopleCert Operations Menu drop shadow*/
.typing-text {
    color:grey;
    text-shadow: 2px 2px 2px black;
}

/*rounding left side rule*/
.left-side-rounding {
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
}
/*rounding left side rule*/
.right-side-rounding {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}

/*dark background form some views*/
.bg-dark-for-light-mode {
    background-color: #0006;
}
/*create button positioning*/
.create-btn-pst {
    margin-right: 700px;
}