@model TeamAssignment4A.Dtos.ExamDto

@{
    ViewData["Title"] = "Details";
}

<h3 class="custom-font fadein center-adjust">Examination Details</h3>
<hr />
<div class="custom-font fadein" >
    <dl class="row">
        <dt class="col-sm-6 rightalign">
            @Html.DisplayNameFor(model => model.TitleOfCertificate)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.TitleOfCertificate)
        </dd>
        @foreach (var examStemId in Model.ExamStemIds)
        {
            <dt class="col-sm-6 rightalign">
                @Html.DisplayNameFor(model => model.ExamStemIds)
            </dt>
            <dd class="col-sm-6">
                @Html.DisplayFor(model => examStemId)
            </dd>
        }
    </dl>
</div>
<div class="center-adjust">
    <a asp-action="Edit" asp-route-id="@Model?.Id" style="width:100px;" class="custom-font btn btn-info col-sm-7">Edit</a> |
    <a asp-action="Index" style="width:110px;" class="text-nowrap custom-font btn btn-primary col-sm-7">Back to List</a>
</div>
