@model TeamAssignment4A.Dtos.ExamDto

@{
    ViewData["Title"] = "Edit";
}

<h3 class="custom-font fadein center-adjust">Editing Examination</h3>
<hr />
<div class="row custom-font fadein center-adjust">
    <div class="col-md-4">
        
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <dt class="col-sm-6 rightalign">
                    @Html.DisplayNameFor(model => model.TitleOfCertificate)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.TitleOfCertificate)
                </dd>
            </div>
            <input type="hidden" asp-for="TitleOfCertificate" />
            @*<div class="form-group">
                <label asp-for="TitleOfCertificate" class="control-label"></label>
                <select asp-for="TitleOfCertificate" class="form-control" asp-items="@ViewBag.Certificates"></select>
                <span asp-validation-for="TitleOfCertificate" class="text-danger"></span>
            </div>*@
            @for (int i = 0; i < Model.ExamStems.Count(); i++)
            {
                <div class="form-group">
                    <label asp-for="ExamStems[i].Stem.Id" class="control-label"></label>
                    <input readonly asp-for="ExamStems[i].Stem.Id" class="form-control"  />
                    <span asp-validation-for="ExamStems[i].Stem.Id" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="StemIds" class="control-label"></label>
                    <select asp-for="StemIds" class="form-control" asp-items="@ViewBag.Stems"></select>
                    <span asp-validation-for="StemIds" class="text-danger"></span>
                </div>
            }
            <p> 
            <div class="form-group center-adjust">
                <input type="submit" value="Save" class="custom-font btn btn-info" /> |
                <a asp-action="Index" class="custom-font btn btn-primary">Back to List</a>
            </div>
            </p>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
