@model TeamAssignment4A.Dtos.ExamDto

@{
    ViewData["Title"] = "Edit";
}

<h3 class="custom-font fadein center-adjust">Editing Examination</h3>
<hr />
<div class="row custom-font fadein center-adjust">
    <div class="col-md-4">
        
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            
            <div class="form-group">
                <label asp-for="TitleOfCertificate" class="control-label"></label>
                <select asp-for="TitleOfCertificate" class="form-control" asp-items="@ViewBag.Certificates"></select>
                <span asp-validation-for="TitleOfCertificate" class="text-danger"></span>
            </div>
            @foreach (var examStemId in Model.ExamStems)
            {
                <div class="form-group">
                    <label asp-for="ExamStemIds" class="control-label"></label>
                    <select asp-for="ExamStemIds" class="form-control" asp-items="@ViewBag.ExamStems">examStemId</select>
                    <span asp-validation-for="ExamStemIds" class="text-danger"></span>
                </div>
            }
            <p> 
            <div class="form-group center-adjust">
                <input type="submit" value="Save" class="custom-font btn btn-info" /> |
                <a asp-action="Index" class="custom-font btn btn-primary">Back to List</a>
            </div>
            </p>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
