@{
    ViewData["Title"] = "Home Page";
}
<p ></p>

<div class="text-center">

    <h1 class=" custom-font typing-text"></h1>
    <h4 class="typing-text2"></h4>

   @* <p class="typing-text2"></p>*@
</div>