@{
    ViewData["Title"] = "Home Page";
}
<p></p>

<div class="d-flex h-100">

    <h1 class="center-middle-text mx-auto custom-font typing-text"></h1>

</div>
<div class="custom-font center-middle-text1 cstm-fadein">
    <h3> Start your Certification Journey today!</h3>
    <br />
    <h3>From Beginner to Expert</h3>
   
    
</div>
