@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<h1>@ViewData["Title"]</h1>


<div class="login-box">
  <p>Login</p>
    <form id="account" method="post">
        <h2>Use a local account to log in.</h2>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="user-box">
            <input asp-for="Input.Email"  autocomplete="username" aria-required="true" />
            <label asp-for="Input.Email" class="form-label"></label>
            <span asp-validation-for="Input.Email" class="text-danger"></span>
    </div>
    <div class="user-box">
            <input asp-for="Input.Password"  autocomplete="current-password" aria-required="true" />
            <label asp-for="Input.Password" class="form-label"></label>
            <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
     
      <div class="checkbox">
          <label asp-for="Input.RememberMe" class="form-label">
           <input class="form-check-input" asp-for="Input.RememberMe" />
            @Html.DisplayNameFor(m => m.Input.RememberMe)
           </label>
     </div>
                      

        <button id="login-submit" type="submit">
            Sign in
      <span></span>
      <span></span>
      <span></span>
      <span></span>
          
    </button>
  </form>
    <p>Don't have an account? <a class="buttonLogin" asp-area="Identity" asp-page="/Account/Register">Register</a></p>
</div>




@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
