@model TeamAssignment4A.Dtos.BuyCertificateDTO

@{
    ViewData["Title"] = "BuyExam";
}

<h3 class="custom-font fadein center-adjust">Buy a Certificate Exam</h3>
<hr />
<div class="row custom-font fadein center-adjust">
    <div class="col-md-4">
        <form asp-action="BuyExam">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CertificateId" class="control-label"></label>
                <select asp-for="CertificateId" class="form-control" asp-items="@ViewBag.Certificates"></select>
                <span asp-validation-for="CertificateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExaminationDate" class="control-label"></label>
                <div>
                    <input asp-for="ExaminationDate" class="form-control" type="date"></input>
                    <span asp-validation-for="ExaminationDate" class="text-danger"></span>
                </div>
            </div>
            <p>
                <div class="form-groupcenter-adjust">
                    <input type="submit" value="Proceed to Exam(with caution)" class="custom-font btn btn-warning" /> |
                    <a asp-action="Index" class="custom-font btn btn-primary">Back to List</a>
                </div>
            </p>
        </form>
    </div>
</div>