@model TeamAssignment4A.Models.JointTables.CandidateExam

@{
    ViewData["Title"] = "BuyExamVoucher_2";
}

<h1>BuyExamVoucher_2</h1>

<h4>CandidateExam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="BuyExamVoucher">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="AssessmentTestCode" class="control-label"></label>
                <input asp-for="AssessmentTestCode" class="form-control" />
                <span asp-validation-for="AssessmentTestCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExaminationDate" class="control-label"></label>
                <input asp-for="ExaminationDate" class="form-control" />
                <span asp-validation-for="ExaminationDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ScoreReportDate" class="control-label"></label>
                <input asp-for="ScoreReportDate" class="form-control" />
                <span asp-validation-for="ScoreReportDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CandidateScore" class="control-label"></label>
                <input asp-for="CandidateScore" class="form-control" />
                <span asp-validation-for="CandidateScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PercentageScore" class="control-label"></label>
                <input asp-for="PercentageScore" class="form-control" />
                <span asp-validation-for="PercentageScore" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssessmentResultLabel" class="control-label"></label>
                <input asp-for="AssessmentResultLabel" class="form-control" />
                <span asp-validation-for="AssessmentResultLabel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MarkerUserName" class="control-label"></label>
                <input asp-for="MarkerUserName" class="form-control" />
                <span asp-validation-for="MarkerUserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
