@model TeamAssignment4A.Models.JointTables.CandidateExam

@{
    ViewData["Title"] = "ChangeDate";
}

<h3 class="custom-font fadein center-adjust" >Change Date</h3>



<hr />
<div class="row center-adjust custom-font">
    <div class="col-md-4">
        <form asp-action="ChangeDate">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                
                <input type="hidden" asp-for="AssessmentTestCode" class="form-control" />
                
            </div>
            <div class="form-group">
                <label asp-for="ExaminationDate" class="control-label"></label>
                <input asp-for="ExaminationDate" class="form-control" />
                <span asp-validation-for="ExaminationDate" class="text-danger"></span>
            </div>
            
            <div class="form-group center-adjust" style="margin-top:20px;">
                <input type="submit" value="Save" class=" btn btn-yellow" /> | 
                
                <a asp-action="BookedExams" style="width:140px;"
                   class="btn btn-blue col-sm-4 text-nowrap">Booked Exams</a> |

                <a asp-action="Index" style="width:140px;"
                   class="text-nowrap custom-font btn btn-primary col-sm-5">Back to e-Shop</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
