@model TeamAssignment4A.Models.JointTables.CandidateExam

@{
    ViewData["Title"] = "Delete";
}

<h3 class="center-adjust custom-font">CandidateExam</h3>

<a class="custom-font fadein center-adjust">
    Are you sure you want to refund this exam?
 </a>
<hr />


<div class="Center-Div">
   
    
    <dl class="row Center-Div custom-font">
        <dt class = "col-sm-6 rightalign">
            @Html.DisplayNameFor(model => model.AssessmentTestCode)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.AssessmentTestCode)
        </dd>
        <dt class = "col-sm-6 rightalign">
            @Html.DisplayNameFor(model => model.ExaminationDate)
        </dt>
        <dd class = "col-sm-6">
            @Html.DisplayFor(model => model.ExaminationDate)
        </dd>
        
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Refund" style="width:100px;" class="btn btn-yellow col-sm-3" /> |
        
        <a asp-action="BookedExams" style="width:140px;" 
            class="btn btn-blue text-nowrap col-sm-4">Booked Exams</a> | 

        <a asp-action="Index" style="width:140px;" 
            class="text-nowrap text-nowrap btn btn-black col-sm-5">Back to e-Shop</a>
    </form>
</div>
