@{
    ViewData["Title"] = "Index";
}
<p></p>

<div class="text-center">

    <h1 class=" custom-font typing-text"></h1>
    <h4 class="typing-text2"></h4>

</div>


<div class="Center-Div">
    <a asp-action="ListOfCertificates" style="width:160px;"
       class=" btn btn-yellow col-sm-5">Browse Certificates</a> |

    <a asp-action="BookedExams" style="width:160px;"
        class="text-nowrap custom-font btn btn-blue col-sm-3">Booked Exams</a> | 

    <a asp-action="MarkedCertifications" style="width:160px;"
       class="text-nowrap custom-font btn btn-black col-sm-4">My Certifications</a>

</div>
