@model IEnumerable<TeamAssignment4A.Models.Certificate>

@{
    ViewData["Title"] = "ListOfCertificates";
}

<h2 class="custom-font fadein center-adjust">Certificate List</h2>



<table class="table">
    <thead class=" sticky-header text-nowrap  text-center navbar-dark bg-primary"
           onclick="scrollToTop()" style="cursor:pointer;"
           data-toggle="tooltip" data-placement="top" title="click to scroll to top">
        <tr style="border-style:hidden;">
            <th style="border-top-left-radius: 100px; border-bottom-left-radius: 100px;">
                @Html.DisplayNameFor(model => model.TitleOfCertificate)
            </th>
            
            <th style="border-top-right-radius: 100px; border-bottom-right-radius: 100px;">Options</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="text-center">

                <td>
                    @Html.DisplayFor(modelItem => item.TitleOfCertificate)
                </td>
                
                <td>                    
                    <a asp-action="Details" asp-route-id="@item.Id" 
                        class="btn btn-success w-50 mb-2">Details</a> | 

                    <a asp-action="Bridge" asp-route-id="@item.Id" 
                        class="btn btn-danger w-50 mb-2">Buy Exam Voucher</a>
                </td>
            </tr>
        }
    </tbody>
</table>
