@model TeamAssignment4A.Dtos.ExamCreateDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Exam</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="assessmentTestCode" class="control-label"></label>
                <input asp-for="assessmentTestCode" class="form-control" />
                <span asp-validation-for="assessmentTestCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CertificateId" class="control-label"></label>
                <select asp-for="CertificateId" class="form-control" asp-items="@ViewBag.Certificates"></select>
                <span asp-validation-for="CertificateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CandidateId" class="control-label"></label>
                <select asp-for="CandidateId" class="form-control" asp-items="@ViewBag.Candidates"></select>
                <span asp-validation-for="CandidateId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Proceed to Exam(with caution)" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
